*{box-sizing: border-box;}

body{
  background-color: #181A1B;
  font-weight: bold;
  background-image: url(https://wallpaperaccess.com/full/428285.jpg);
}

header{
      text-align: center;
      font-weight: bold;
}

h1{
    font-size: 60px;
    font-family: 'Helvetica';
    font-weight: bold;
    color: slategray;
    text-shadow: black 2px 0 12px;
    text-align: center;
}

h2::first-letter{
  font-size: 30px;
  color: dimgray;
}

h2{
  font-size: 30px;
}

textarea{
  width: 75%;
}

li{
  color: slategray;
}

a{
  color: slategray;
}

button {
  display:inline-block;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px #000;
    border:0.15em solid #CCCCCC;
    background-color: #181A1B;
    box-shadow: 0px 0px 5px 2px black;
}

button:hover {
    border-color:#7a7a7a;
}

button:active {
    border-color:#7a7a7a;
    background-color: dimgray;
}

.buttons{
  padding: 10px;
}

.boite{
  width: 50%;
  text-shadow: black 5px 0 15px;
  background-color: rgba(24, 26, 27, 0.75);
  color: slategray;
  border: 1px solid black;
  text-align: left;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 2px 20px;
  box-shadow: 0px 0px 5px 2px black;
}

.headerimg{
    filter: drop-shadow(10px 5px 4px black);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 5px 2px 5px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.baniere {
  background-color: rgba(24, 26, 27, 0.75);
  color: slategray;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 5px;
  box-shadow: 0px 0px 5px 2px black;

}
