*{box-sizing: border-box;}

body{
  background-color: #181A1B;
  font-weight: bold;
  background-image: url(https://wallpaperaccess.com/full/428285.jpg);
}

header{
      text-align: center;
      font-weight: bold;
}

form{
  width: 100%;
  text-shadow: black 5px 0 15px;
  background-color: #181A1B;
  margin: 10px auto;
  padding: 15px 2px 20px;
  text-align: left;
}

h1{
    font-size: 60px;
    font-family: 'Helvetica';
    font-weight: bold;
    color: slategray;
    text-shadow: black 2px 0 12px;
    text-align: center;
}

h2::first-letter{
  font-size: 30px;
  color: dimgray;
}

h2{
  font-size: 30px;
}

textarea{
  width: 75%;
}

.buttons{
  padding: 10px;
}

.boite{
  background-color: #181A1B;
  color: slategray;
  border: 1px solid black;
  width: 50%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 5px 2px black;
}

.headerimg{
    filter: drop-shadow(10px 5px 4px black);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.baniere{
  background-color: transparent;
  color: slategray;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 5px 2px black;
}
